@import "./variables.css";

/* HERE ARE THE GLOBAL STYLES */

/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Focus styles, accessibility purposes */
*:focus{
    outline: 2px dashed var(--rosty-copper);
    transform: scale(1.10);
}

body{
    min-height: 100vh; /* Temporary*/
    padding: 0 80px;
    overflow-x: hidden;
    /* I do this on purpose, this way it doesn't shift due to scrollbar since it's always visible */
    overflow-y: scroll;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Stardos Stencil';
    font-size: 24px;
    color: var(--alabaster-grey);
}

p, li{
    list-style: none;
    font-family: 'Smooch Sans';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    color: var(--alabaster-grey);
}

li h4, h4{
    font-size: 18px;
}

main{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer{
    width : 100%;
    padding: 8px;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    position:fixed;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(2px);
}

.btn{
    min-width: 200px;
    padding: 8px 16px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border: 1px solid var(--alabaster-grey);
    border-radius: 360px;
    text-decoration: none;
    color: var(--alabaster-grey);

    background:linear-gradient(to right,var(--midnight-violet), var(--alabaster-grey), var(--midnight-violet));
    background-size: 600% 600%;
    background-position: 0% 50%;
}

/* If btn is hovered : play the animation */
.btn:hover{
    /* 2s for each state */
    animation: gradientShift 5s ease infinite;
}

@keyframes gradientShift {
    0% { background-position: 0% 50%; }
    25%{
        background-position: 50% 50%; 
        color: var(--midnight-violet);
        border-color: var(--midnight-violet);
    }
    50% { 
        background-position: 100% 50%; 
        color: var(--alabaster-grey);
        border-color: var(--alabaster-grey);
    }
    75%{
        background-position: 50% 50%;
        color: var(--midnight-violet);
        border-color: var(--midnight-violet);
    }
    100% { background-position: 0% 50%; }
}

.other-page-background{
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    
    background:linear-gradient(var(--carbon-black), var(--midnight-violet));
    z-index: -1; /* Ensure the background is behind other content but above the video */
}
/* Navigation menu */

.tabbar{
    width: 800px;
    height: 100px;
    padding: 8px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: var(--alabaster-grey-30);
    color: var(--pitch-black);
    /* Glass effect */
    box-shadow: inset 4px 4px 10px var(--carbon-black);
    backdrop-filter: blur(2px);
    
    /* Right above the (box-)shadow */
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: var(--alabaster-grey-30);
    border-radius: 360px;
    
    position: fixed;
    bottom: 12%;
    right: 50%;
    transform: translate(50%, 50%);
    z-index: 1;
}

/* Default */
.tabbar-link{
    width: 160px; /* x5 out of 800px */
    height: 80px;
    padding: 8px auto;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
    /* border: 3px solid red; */
    border-radius: 360px;
    
    text-decoration: none;
    color: var(--pitch-black);
}

.tabbar-link-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tabbar-link-button p{
    color: var(--pitch-black);
}

.tabbar-link-img{
    width: 40px;
    height: 40px;
}

/* Active state */

.tabbar-link.active{
    background-color: var(--midnight-violet);
    /* I don't know if I should keep this effect or not. 
    Problem for later */
    /* ---------------------------------------- */
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: var(--alabaster-grey);
    box-shadow: 2px 2px 8px var(--carbon-black);
    /* ---------------------------------------- */
}

.tabbar-link.active .tabbar-link-button p{
    color: var(--rosty-copper);
}

/* ############### */

/* HOME PAGE */

/* Home video background */
.home-video-background{
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    
    object-fit: cover;
    z-index: -2; /* Ensure the video is behind other content */
}
/* Background that covers the video. In case video doesn't work it'll be visible */
.home-background{
    width: 100%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    
    background:linear-gradient(var(--carbon-black), var(--midnight-violet));
    opacity: 0.9;
    z-index: -1; /* Ensure the background is behind other content but above the video */
}

.home-section{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ######### */

/* ABOUT PAGE */

.about-section, .contact-section, .projects-section,.hobbies-section, .error-section{
    width: 600px;
    height: 100%;
    padding: 32px 0 172px 0;
    /* 172px = 100px(tabbar) + 40px(footer) + 32px(padding-top) */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.about-profile-picture{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;

    box-shadow: 0 0 8px  var(--alabaster-grey),
                0 0 28px var(--rosty-copper),
                0 0 40px var(--midnight-violet),
                0 0 48px var(--pitch-black);
}

.about-article{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap:8px;
}

.btn-field{
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/* ########## */

/* CONTACT PAGE */

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.contact-card{
    width: 300px;
    min-height: 200px;

    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 16px;

    border-radius: 16px;
    background-color: var(--alabaster-grey-30);
    text-decoration: none;
    transition : 0.5s ease;
}

.contact-card:hover{
    box-shadow: 0 0 8px var(--rosty-copper);
}

.contact-card img{
    width: 100px;
    height: 100px;
    
    object-fit: cover;
    border-radius: 16px;
}

/* ############ */

/* HOBBIES PAGE */

.hobbies-wrapper, .projects-wrapper {
    position: relative;
    max-width: 600px;
    /* margin: 0 auto; */
    
    display: flex;
    align-items: center;
}

.carousel-container {
    width: 100%;
    
    display: flex;

    overflow: hidden;
    scroll-behavior: smooth;
}

.item {
    flex: 0 0 100%;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.nav-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    padding: 5px 20px;

    background: var(--midnight-violet);
    color: var(--alabaster-grey);
    border: 1px solid var(--alabaster-grey);
    font-size: 2rem;
    border-radius: 360px;
    
    cursor: pointer;
    z-index: 10;
}

.prev-btn { left: -100px; }

.next-btn { right: -100px; }


.images-carousel {
    width: 100%;
    max-width: 600px;
    height: 250px;

    overflow: hidden;
    position: relative;
    border-radius: 8px;
}

.images-track {
    display: flex;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.images-track img {
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
}
/* ############ */